<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="x.tools.api.accessibility" >


    <application>
        <service
            android:name=".service.ApiService"
            android:process=":accessibility-api-service"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/api_accessibility_service"/>
        </service>
    </application>

</manifest>
